/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 650px) {
  .toggle {
    display: block;
  }
  .menu-list {
    display: none;
  }
  .active {
    display: block;
  }
  .skills-container {
    display: grid;
    grid-template-columns: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 650px) {
  .menu-list {
    list-style-type: none;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .skills-container {
    display: grid;
    grid-template-columns: auto;
  }
  .post-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  .post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .skills-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .services-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* nth type to reorder items */
  .services-container .service-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(2) {
    order: 2;
  }
  .services-container .service-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .service-item:nth-of-type(4) {
    order: 3;
  }
  .projects-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    margin: 0 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
  .projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    margin: 0 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}
